name: CI/CD Pipeline

on:
  push:
    paths:
      - ${{ values.app_name }}/** # Gatilho para altera莽玫es no diret贸rio da aplica莽茫o
    branches:
      - main

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    outputs:
      # Define uma sa铆da para este job, que poder谩 ser usada em outros jobs
      image_tag: ${{ '${{ steps.set-tag.outputs.tag }}' }}

    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v3

      - name: Definir a tag da imagem (SHA reduzido)
        id: set-tag
        run: |
          IMAGE_TAG=$(echo $GITHUB_SHA | cut -c1-7)
          echo "tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT

      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ '${{ secrets.DOCKERHUB_USERNAME }}' }}
          password: ${{ '${{ secrets.DOCKERHUB_TOKEN }}' }}

      - name: Build e Push da imagem
        # A tag da imagem 茅 recuperada da sa铆da do passo 'set-tag'
        run: |
          docker build -t ${{ '${{ secrets.DOCKERHUB_USERNAME }}' }}/${{ values.app_name }}:${{ '${{ steps.set-tag.outputs.tag }}' }} .
          docker push ${{ '${{ secrets.DOCKERHUB_USERNAME }}' }}/${{ values.app_name }}:${{ '${{ steps.set-tag.outputs.tag }}' }}

  update-image-tag:
    # Garante que este job s贸 rode ap贸s o sucesso do job anterior
    needs: build-and-push-image
    runs-on: ubuntu-latest

    steps:
      # Este passo de checkout 茅 necess谩rio para a action create-pull-request funcionar no mesmo reposit贸rio
      # Se o seu c贸digo da app e do helm estiverem em reposit贸rios diferentes, use o checkout original
      - name: Checkout do c贸digo do deployment
        uses: actions/checkout@v3
        with:
          # Reposit贸rio que cont茅m os charts do Helm
          repository: uday-platform-idp-org/${{ values.app_name }}
          token: ${{ '${{ secrets.PERSONAL_ACCESS_TOKEN }}' }}
          path: infra # Clona para dentro do diret贸rio 'infra'
      
      - name:  Listar conte煤do do diret贸rio clonado (DEBUG)
        run: ls -R infra

      - name: Atualizar a tag da imagem no Helm values.yaml
        env:
          NEW_TAG: ${{ '${{ needs.build-and-push-image.outputs.image_tag }}' }}
        working-directory: infra # Certifique-se de que este diret贸rio est谩 correto
        run: |
          echo "Alterando a tag da imagem para: $NEW_TAG"
          # Substitui a linha que come莽a com 2 espa莽os e 'tag:'
          sed -i "s/^  tag: .*/  tag: $NEW_TAG/" charts/${{ values.app_name }}/values.yaml
        

      - name: Criar Pull Request com a atualiza莽茫o
        uses: peter-evans/create-pull-request@v6
        with:
          # Aponta para o diret贸rio que cont茅m o reposit贸rio clonado
          path: infra
          token: ${{ '${{ secrets.PERSONAL_ACCESS_TOKEN }}' }}
          # A action criar谩 o commit, a branch e o PR automaticamente
          commit-message: "chore: Atualiza imagem de ${{ values.app_name }} para ${{ '${{ needs.build-and-push-image.outputs.image_tag }}' }}"
          title: "CI: Atualiza imagem para ${{ '${{ needs.build-and-push-image.outputs.image_tag }}' }}"
          body: "PR criado automaticamente pela pipeline para atualizar a tag da imagem no Helm para a vers茫o **${{ '${{ needs.build-and-push-image.outputs.image_tag }}' }}**."
          # Cria uma branch mais descritiva
          branch: "ci/update-image-${{ '${{ needs.build-and-push-image.outputs.image_tag }}' }}"
          base: main
          # Deleta a branch ap贸s o merge do PR
          delete-branch: true
        
      - name: Install ArgoCD CLI
        shell: bash
        run: |
          curl -sSL -o argocd https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv argocd /usr/local/bin/argocd
          argocd version

      - name: ArgoCD Login
        shell: bash
        run: |
          argocd login argocd.uday.com.br \
            --insecure \
            --grpc-web \
            --username admin \
            --password ${{ secrets.ARGOCD_PASSWORD }}

      - name: Ensure ArgoCD repo and app
        shell: bash
        run: |
          repo_url="https://github.com/uday-platform-idp-org/${{ values.app_name }}.git"
          
          # Adiciona o reposit贸rio ao ArgoCD, se ainda n茫o estiver
          if ! argocd repo list | grep -q "$repo_url"; then
            argocd repo add "$repo_url"
          fi

          # Cria o app se ainda n茫o existir
          if ! argocd app get ${{ values.app_name }} > /dev/null 2>&1; then
            argocd app create ${{ values.app_name }} \
              --repo "$repo_url" \
              --path charts/${{ values.app_name }} \
              --dest-namespace ${{ values.app_env }} \
              --dest-server https://kubernetes.default.svc \
              --values values-${{ values.app_env }}.yaml \
              --revision main \
              --sync-policy manual \
              --sync-option CreateNamespace=true \
              --type helm
          fi

      - name: ArgoCD App Sync
        shell: bash
        run: |
          argocd app sync ${{ values.app_name }}
          argocd app wait ${{ values.app_name }} --timeout 180